@import "../../style/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    flex: 0.6;
    background-color: $white-color;
    padding: 1rem;
    box-shadow: 1px 2px 0.5rem 0.005rem rgba(0, 0, 0, 0.72);
    box-sizing: border-box;
    .modalHeader {
      display:flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      >h2 {
        margin: 0;
      }
    }
    .modalBody {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

}