.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  p {
    margin: 0;
  }
  .logoFooter {
    width: 12rem;
    padding: 0 0.25rem;
    .cls-1 {
        fill: #6e8510;
      }
    
      .cls-2 {
        fill: #5a6f07;
      }
    
      .cls-3 {
        fill: #93ad18;
      }
    
      .cls-4 {
        fill: #403234;
      }
  }
}