@import "../../style/variables";

.errorContainer {
  align-items: center;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;

  .error-title {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
  }

  .error-text {
    font-size: 1.5rem;
  }

  .error-link {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}